<a href="https://colab.research.google.com/github/Rajesh1patil/Python_Program_practice/blob/main/Basic_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Write a Python program to print the following string in a specific format (see the output). Go to the editor

**Sample String** : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are" 

**Output** :

Twinkle, twinkle, little star,

How I wonder what you are! 

Up above the world so high,   		
		
Like a diamond in the sky. 

Twinkle, twinkle, little star,

How I wonder what you are

In [ ]:
 sample_string="Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are"

In [ ]:
output_string= "Twinkle, twinkle, little star,\n How I wonder what you are!\n Up above the world so high,\n Like a diamond in the sky.\n Twinkle, twinkle, little star,\n How I wonder what you are"

In [ ]:
print(output_string)

Twinkle, twinkle, little star,
 How I wonder what you are!
 Up above the world so high,
 Like a diamond in the sky.
 Twinkle, twinkle, little star,
 How I wonder what you are

Here we are wooo got the output

## Write a Python program to get the Python version you are using.

In [ ]:
import sys
print('python version',sys.version)
print('Version_info',sys.version_info)

python version 3.8.16 (default, Dec  7 2022, 01:12:13)
[GCC 7.5.0]
Version_info sys.version_info(major=3, minor=8, micro=16, releaselevel='final', serial=0)

we are using version 3.8.15

### Write a Python program to display the current date and time.

In [ ]:
import datetime
date_time_now=datetime.datetime.now()
print('current date time')
print(date_time_now.strftime('%Y-%m-%d %H:%M:%S'))

current date time
2023-01-02 05:54:43

### Write a Python program which accepts the radius of a circle from the user and compute the area.

In [ ]:
import math
print('area of the circle')
radius=int(input('enter the radius'))
area=math.pi*radius**2
print('the radius of circle',area)

area of the circle
enter the radius4
the radius of circle 50.26548245743669

### Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [ ]:
first_name=input('enter first name ')
last_name=input('enter last name ' )
full_name=(first_name +' '+ last_name)
print(full_name[::-1])

enter first name raj
enter last name pstmv
vmtsp jar

# Python Program for factorial of a number

In [ ]:
#by using while loop
def factorial(n):
  '''this finction will write 
  factorial of number
  '''
  fact=1  # set the value 1 cause any number mul by 1 not change
  while (n>0): #check n > 0 so ready to go inside loop
    fact*=n  #  n=5   fact=5*1  5
    n=n-1  # the again go in loop and n-1=4  so next fact out put is 5*4... and so on
  return (f'the factorail of number is' ,fact)

In [ ]:
factorial(5)

('the factorail of number is', 120)

In [ ]:
#BY RECURSION METHOD
def fact(n):
  if n==1:
    return 1
  else:
    return (n*fact(n-1))

In [ ]:
fact(5)

120

In [ ]:
#by using for loop
num=int(input('enter your number'))
fact=1
for i in range(1,num+1):
  fact*=i
print(fact)

enter your number4
24

# Python program to print all Prime numbers in an Interval

In [ ]:
x=int(input('start number'))
y=int(input('end number'))
count=0
if x>1:
  for i in range (x,y+1):
    if i>1:
      for j in range(2,i):
        if i%j==0:
          break
      else:
        count+=1
        print(i)
print(count)

start number3
end number9
3
5
7
3

In [ ]:
#range of prime number 
def prime(x, y):
    count=0
    prime_list = []
    for i in range(x, y):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2,i):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
                count+=1
    print(count)
    return prime_list

In [ ]:
print(prime(2,7))

3
[2, 3, 5]

In [ ]:
prime(2,7)

3

[2, 3, 5]

# Python program to check whether a number is Prime or not

In [ ]:
num=int(input('enter your number'))
if num >1:
  for n in range(2,num):
      if num%n==0:
        print('number is non prime')
        break
  else:
        print('number is a prime number')
else:
  print('invaid entry')

enter your number4
number is non prime

# Python Program for n-th Fibonacci number

In [ ]:
def fibonacci(n):
  if n<=0:
      return 'invalid entry'
  elif n ==1:
      return 0
  elif n==2:
      return 1
  else:
      return fibonacci(n-1)+fibonacci(n-2)

In [ ]:
fibonacci(10)

34

In [ ]:
def Fibonacci(n):
    if n<= 0:
        print("Incorrect input")
    # First Fibonacci number is 0
    elif n == 1:
        return 0
    # Second Fibonacci number is 1
    elif n == 2:
        return 1
    else:
        return Fibonacci(n-1)+Fibonacci(n-2)

In [ ]:
Fibonacci(10)

34

# Python Program for Sum of squares of first n natural numbers

In [ ]:
def square_sum(n):
  sum=0
  for i in range(1,n+1):
    sum=sum+i**2
  return sum

In [ ]:
square_sum(5)

55

# Python program to interchange first and last elements in a list

Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

In [ ]:
my_list=[12, 35, 9, 56, 24]
first=my_list[0]
last=my_list[-1]
my_list[0]=last
my_list[-1]=first
print(my_list)

[24, 35, 9, 56, 12]

In [ ]:
def swapping(my_list):
  '''swap first and last number'''
  my_list[0],my_list[-1]=my_list[-1],my_list[0]
  return my_list

In [ ]:
my_list=[12, 35, 9, 56, 24]
print(swapping(my_list))

[24, 35, 9, 56, 12]

# Check if element exists in list in Python

list = test_list = [1, 6, 3, 5, 3, 4]

In [ ]:
test_list = [1, 6, 3, 5, 3, 4]
6 in test_list

True

In [ ]:
input=int(input('enter you number'))
if input in test_list:
  print('number is present in list')
else:
  print('number is not present')

enter you number4
number is present in list

# Different ways to clear a list in Python

In [ ]:
test_list = [1, 6, 3, 5, 3, 4]

test_list.clear()

In [ ]:
test_list

[]

# Reversing a List in Python

In [ ]:
list_ = [4, 5, 6, 7, 8, 9]

list_[::-1]

[9, 8, 7, 6, 5, 4]

In [ ]:
list_.reverse()
list_

[9, 8, 7, 6, 5, 4]

# Python program to find sum of elements in list

In [ ]:
nput=[12, 15, 3, 10]
sum=0
for i in nput:
  sum+=i
print(sum)

40

# Python program to find smallest number in a list

In [ ]:
list1 = [10, 20, 4]

In [ ]:
min(list1)

4

In [ ]:
list1.sort()
print('the lowest number',list1[0])

the lowest number 4

# **Python program to find largest number in a list**

In [ ]:
list2=[10,20,4]
list2.sort()
print('the largest number is ', list2[-1])

the largest number is  20

In [ ]:
max(list2)

20

# **Find 2nd Largest number**

In [ ]:
lst=[70, 11, 20, 4, 100]
lst.sort()
print('second largest number is ', lst[-2])

second largest number is  70

In [ ]:
lst=[10, 20, 20, 4, 45, 45, 45, 99, 99]
lst=set(lst)
lst=list(lst)
lst.sort()
print('second largest number is ', lst[-2])

second largest number is  45

# **Python program to find N largest elements from a list**

In [ ]:
lst=[70,34,45, 11, 20, 4, 100]
lst.sort()
N=4
print('4 largest numbers ',lst[-N:])

4 largest numbers  [34, 45, 70, 100]

# Python program to print all even numbers in a range

In [ ]:
start = 4 
end = 15
lst1=[]

for i in range (start,end+1):
  if i%2==0:
    lst1.append(i)
print(lst1)

[4, 6, 8, 10, 12, 14]

# Python program to print positive numbers in a list

In [ ]:
list1 = [12, -7, 5, 64, -14]

lst=[]

for i in list1:
  if i>0:
    lst.append(i)
print(lst)

[12, 5, 64]

# Remove multiple elements from a list in Python

In [ ]:
# remove 12 and 3
lst=[12, 15, 3, 10,34,56,78,41]
unwanted={12,3}

lsit=[]

for ele in lst:
  if ele not in unwanted:
    lsit.append(ele)
print(lsit)

[15, 10, 34, 56, 78, 41]

# check a number prime or not

In [ ]:
num=int(input('enter your number'))
count=0
if num>1:
  for i in range(1,num+1):
    if num%i==0:
      count=count+1
  if count==2:
        print('number is prime ')
    
  else:
        print('number is non prime')

enter your number3
number is prime

In [ ]:
#is number positive or negative
num=int(input('enter the num :'))
if num==0:
  print('number is 0')
elif num>0:
  print('the number is positive')
else:
  print('number is negative')

enter the num :-9
number is negative

In [ ]:
#sum of n naturals numbers
sum=0
count=1
while count<=10:
  sum=sum+count
  count+=1
print(sum)

55

In [ ]:
#sum of squares of n naturals numbers
sum=0
count=0
while count<=3:
  sum+=count**2
  count+=1
print(sum)

14

In [ ]:
#sum of digits of numbers
num=248

sum=0
while num>0:
  sum=sum+num%10
  num=num//10
print(sum)

14

In [ ]:
#mulitiplication of digit of numbers
num=234
mul=1
while num>0:
  mul*=num%10
  num=num//10
print(mul)

24

In [ ]:
#print(even and odd in one lits but starting with even numbers and after even numbers reverse odd numbers )
lst=range(1,11)
lst1=[]
lst2=[]

for i in range(1,11):
  if i%2==0:
    lst1.append(i)
  else:
    lst2.append(i)
lst2=lst2[::-1]

print(lst1+lst2)

[2, 4, 6, 8, 10, 9, 7, 5, 3, 1]